@keyframes foo {
}

model-viewer {
	display: block;
	width: 100%;
	margin-top: 10vh; 
	height: 80vh;
	position: fixed;
	animation: foo linear both;
	animation-timeline: scroll(block root);
	pointer-events: none;
}

model-viewer::part(default-progress-bar) {
	display: none;
}

header,
footer {
	position: fixed;
	left: 0;
	right: 0;
	text-align: center;
	font-style: italic;
}
header {
	top: 1em;
}
footer {
	bottom: 0;
}

html {
	height: 400vh;
	background: #2a2a2a;
	color: #e4e4e4;
}

